python-dotenv
openai
gradio
pandas
chromadb
langchain
langchain-core
langchain-text-splitters
langchain-openai
langchain-chroma
langchain-community
langchain-huggingface
sentence-transformers
litellm
pydantic
tenacity
tqdm
ipykernel
nbformat
